@import url("https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/blitzer/jquery-ui.min.css");

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContainer {
  display: flex;
  padding-top: 45px;
  justify-content: space-evenly;
}

.homeImgContainer {
  width: 65%;
  display: flex;
}

.homeImgContainer img {
  max-width: 91%;
  margin: auto;
}

.homeTextContainer {
  width: 35%;
}

.homeTextContainer p:nth-child(1) {
  font-size: 50px;
}

.homeTextContainer p:nth-child(2) {
  font-size: 36px;
}

.navBarContainer {
  display: flex;
}

.nav {
  display: flex;
  padding: 5px;
  flex: 1;
  justify-content: end;
}

a,
a:visited {
  color: #2c2c2cd7;
}

a:hover {
  color: #008C7F;
}

.button a {
  color: white;
  text-decoration: none;
}

.nav div a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.nav div a:hover {
  background-color: whitesmoke;
}

.button {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  background-color: #008C7F;
}

/* Calendar CSS*/
ul {
  list-style-type: none;
}

.calendarContainer,
.expensesContainer {
  margin: 35px;
}

.calendarMonth {
  background: #008C7F;
  text-align: center;
  padding: 10px 25px;
}

.calendarMonth ul {
  margin: 0;
  padding: 0;
}

.calendarMonth ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calendarMonth .prev {
  float: left;
  padding-top: 10px;
}

.calendarMonth .next {
  float: right;
  padding-top: 10px;
}

.calendarTable,
.expenseTable,
.incomeTable {
  border-collapse: collapse;
  background: white;
  color: black;
}

.expenseTableContainer {
  margin-bottom: 35px;
}

.expenseTable,
.incomeTable {
  width: 30em;
}

.expenseBtn,
.incomeBtn {
  margin: 10px 0;
  text-align: center;
}

.expenseTable thead th,
.incomeTable thead th {
  background-color: #008C7F;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: normal !important
}

thead tr {
  background-color: #ddd;
}

tbody {
  background-color: #eee;
  text-align: center;
}

.calendarActive {
  padding: 5px;
  background: #008C7F;
  color: white !important
}

/*  */

.spendingContainer {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding-top: 45px;
}

.spendingCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  min-width: 150px;
  padding: 2px 16px;
}

.spendingCard:hover {
  box-shadow: 0 8px 16px 0 #008C7F;
}

.spendingCard h4 {
  border: 7px solid #008C7F;
  border-radius: 20px;
  background-color: #008C7F;
  text-align: center;
  color: white;
}

.spendingCard h2 {
  text-align: center;
}

.categoryMainContainer {
  margin: 30px 0;
}

.categoryText {
  text-align: center;
  padding: 30px 0;
}

.categoryContainer {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.analysisContainer {
  display: flex;
  margin: 30px 0;
  justify-content: space-evenly;
}

.categoryExpenseText {
  padding: 30px 0;
  text-align: center;
}

.chart {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.chart:hover {
  box-shadow: 0 8px 16px 0 #008C7F;
}

.productListContainer {
  display: flex;
  margin: 40px 0;
}

.productImgContainer {
  width: 40%;
  display: flex;
}

.productImg {
  margin: auto;
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 #008C7F;
}

.productDetail {
  width: 60%;
  font-size: 20px;
}

.name-card {
  font-size: 16px;
  font-weight: bold;
}

.about-us-container {
  padding-top: 45px;
}

.about-us-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
}

.about-us-details {
  display: flex;
  justify-content: center;
}

.about-us-individual {
  display: flex;
  justify-content: center;
  width: 50%;
}

.individual-image {
  margin: 10px;
}

.individual-image img {
  height: 220px;
  margin: auto;
}

.individual-text {
  margin: 10px;
  padding: 10px;
  justify-content: center;
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}


/* Media Query */

@media only screen and (max-width: 768px) {

  .nav div a {
    padding: 20px 6px;
    max-width: 6em;
  }

  .mainContainer {
    display: block !important;
    padding-top: 30px !important;
  }

  .homeTextContainer,
  .homeImgContainer {
    width: 100% !important;
    text-align: center;
  }

  .calendarTable,
  .expenseTable,
  .incomeTable {
    table-layout: fixed;
    width: 100% !important;
  }

  .expenseTable thead th,
  .incomeTable thead th {
    font-size: 12px;
    letter-spacing: 2px;
  }

  .spendingContainer,
  .categoryContainer {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .spendingCard {
    margin: 10px 0;
    min-width: auto;
  }

  .analysisContainer {
    display: block !important;
  }

  .categoryExpenseChart {
    text-align: center;
  }

  .chart {
    height: 200px;
    width: 200px;
  }

  .productMainContainer {
    padding-top: 30px;
  }

  .productListContainer {
    display: block !important;
    margin: 30px;
  }

  .productImgContainer {
    width: 100% !important;
    text-align: center;
    margin: 10px 0;
  }

  .productImg {
    width: 200px;
    height: 200px;
  }

  .productDetail {
    width: 100% ! important;
    text-align: center;
  }

  .about-us-container {
    padding-top: 30px !important;
  }

  .about-us-details {
    display: block !important;
    margin: 10px 0 !important;
  }

  .about-us-individual {
    width: 100% !important;
    text-align: center;
  }


  .ui-datepicker-calendar td a.expenseValue {
    padding: 2px !important;
  }

  .ui-datepicker-calendar td a.noExpenseValue {
    padding: 8px !important;
  }

  /* Popup Media Query - start */
  
  .addExpenseForm {
    max-width: 250px !important;
    min-width: 275px !important;
  }

  /* Popup Media Query - end */

}


/* new_cal_css */
.ui-datepicker {
  width: 100% !important;
}

.ui-widget-header {
  background: #008C7F !important;
}

.ui-datepicker .weekend .ui-state-default {
  background: #b7dad7;
}

.ui-datepicker-calendar td a {
  /* position: relative; */
  /* padding-bottom: 10px; */
}

.expenseValue {
  padding: 13px !important;
}

.noExpenseValue {
  padding: 22px !important;
}

.ui-datepicker-calendar td a[data-custom]::after {
  content: '$' attr(data-custom);
  display: block;
  font-size: small;
  padding-top: 5px;
}

/* Popup CSS - start */

#popupContainer {
  width: 100%;
  height: 100%;
  opacity: .95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addExpenseForm {
  max-width: 400px;
  min-width: 350px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fff
}

.popupTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popupTitleContainer i {
  cursor: pointer;
}

.addExpenseFields {
  padding: 10px 0;
}

.addExpenseFields span:nth-child(1) {
  display: inline-flex;
  min-width: 100px;
  font-weight: bold;
  font-size: 20px;
}

.addExpenseFields span:nth-child(2) {
  font-size: 18px;
}

.expenseSubmitContainer {
  display: flex;
  justify-content: center;
}

.expenseSubmit {
  border: none;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #008C7F;
}

/* Popup CSS - end */