<!DOCTYPE html>
<html>

<head>
    <title>Expense Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <div id="nav-placeholder">
    </div>
    <script>
        $.get("navigation.html", function (data) {
            $("#nav-placeholder").replaceWith(data);
        });
    </script>

    <div class="about-us-container">
        <div class="about-us-heading">Team Members</div>
        <div class="about-us-details">
            <div class="about-us-individual">
                <div class="individual-image">
                    <img class="image" src="{{ url_for('static', filename='img/neha.jpg') }}">
                </div>
                <div class="individual-text">
                    <p class="name-card">Neha Negi</p>
                    <a href="https://www.linkedin.com/in/neha-negi15/" target="_blank">LinkedIn</a>
                    <p>Neha is a Business Analytics and Information Systems Graduate Student at USF.
                        She has 4 years of experience working as a Business Intelligence Developer.
                        Her interests lie in analyzing data by performing exploratory analysis,finding 
                        insights by building visualizations and highlight trends.
                        She also loves to work on planning,budgeting and forecasting models for business and help in better decision making. 
                        Her contributions include designing and developing the Product and About page
                        using HTML and CSS,enabling interactive functionalities in Analysis and Forecast page using Chart.js and JQuery.</p>
                </div>
            </div>
            <div class="about-us-individual">
                <div class="individual-image">
                    <img class="image" src="{{ url_for('static', filename='img/abhishek.png') }}">
                </div>
                <div class="individual-text">
                    <p class="name-card">Abhishek Pancholi</p>
                    <a href="https://www.linkedin.com/in/abhishek-pancholi-894108151/" target="_blank">LinkedIn</a>
                    <p>Abhishek is a Business Analytics and Information Systems Graduate Student at USF.
                        He has 3.5 years of experience working as a Business Analyst.
                        His interest lie in dealing with large volumes of data and drawing insights from the data.
                        He is passionate about building interactive dashboards, diving deep into data and discovering trends and pattterns.
                        He also loves understanding client requirements and developing processes for mapping the requirements into ERP systems.
                        His contributions include designing and developing the Product and About page using HTML and CSS,enabling interactive 
                        functionalities in Analysis and Forecast page using Chart.js and JQuery.</p>
                </div>
            </div>
        </div>
        <div class="about-us-details">
            <div class="about-us-individual">
                <div class="individual-image">
                    <img class="image" src="{{ url_for('static', filename='img/harishma.png') }}">
                </div>
                <div class="individual-text">
                    <p class="name-card">Harishma Parthiban</p>
                    <a href="https://www.linkedin.com/in/harishma-parthiban/" target="_blank">LinkedIn</a>
                    <p>Harishma is a Business Analytics and Information Systems Graduate Student at USF.
                        She has 3 years of experience working as a Software Developer. Her interests lie in
                        the Software and Data Engineering space. She is passionate about building systems that would add
                        value to the business. She also loves to automate things that speed up engineering. Her
                        contributions to the Project include designing the website using balsamiq wireframes, developing
                        the Manage Expenses, Analysis & Forecast pages using HTML and CSS, enabling interactive
                        functionalities in the Product and Manage Expenses pages using JavaScript and JQuery.</p>
                </div>
            </div>
            <div class="about-us-individual">
                <div class="individual-image">
                    <img class="image" src="{{ url_for('static', filename='img/varun.png') }}">
                </div>
                <div class="individual-text">
                    <p class="name-card">Varun Krishna Ramakrishnan</p>
                    <a href="https://www.linkedin.com/in/varun-krishna-ramakrishnan/" target="_blank">LinkedIn</a>
                    <p>Varun is a Business Analytics and Information Systems Graduate Student at USF.
                        He has 3 years of experience working as a Software Developer. He is passionate about building
                        products and solving technical challenges. He loves to deal with a large amount of data and
                        simplify processes for business. His contributions to the Project include designing the website
                        using balsamiq wireframes, developing the Home and Analysis & Forecast pages using HTML and CSS,
                        enabling interactive functionalities in the Product and Manage Expenses pages using JavaScript
                        and JQuery.</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>