<!DOCTYPE html>
<html>

<head>
    <title>Expense Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div id="nav-placeholder">
    </div>
    <script>
        $.get("navigation.html", function (data) {
            $("#nav-placeholder").replaceWith(data);
        });
    </script>
    <div class="mainContainer">

        <div class="homeImgContainer">
            <img src="{{ url_for('static', filename='img/expense_tracker.jpg') }}">
        </div>

        <div class="homeTextContainer">
            <p><b></b></p>
            <p></p>
            <button class="button" onclick="homeReadMore()">Read More</button>
        </div>

    </div>
</body>

</html>